<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../../../static/styles/styles.css" />
  <link rel="stylesheet" href="../../../static/styles/styleguide.css" />
  <link rel="stylesheet" href="../../../static/styles/login.css" />
  <title>Логін</title>
</head>

<body>
  <header class="login-header">
    <a href="/" id="back-button" class="back-button">
      <img src="../../../static/assets/icons/arrow-left.svg" alt="Назад" class="button__icon" />
    </a>
  </header>
  <div class="login-page">
    <div class="div">
      <div class="log-in-text">Логін</div>

     <form method="post" action="{%url "login"%}">

           {%csrf_token%}

            <!-- Поле для імені користувача -->
            <div class="email-textbox">
                <input name="username" type="text" class="input-field" placeholder="Ім’я користувача">
            </div>

            <!-- Поле для пароля -->
            <div class="password-textbox">
              <input name="password" type="password" class="input-field" placeholder="Пароль" />
            </div>

            <!-- Посилання "Забули пароль?" -->
            <div class="forgot-password">
              <a href="#" class="text-wrapper-2">Забули пароль?</a>
            </div>
            <!-- Кнопка "Ввійти в акаунт" -->
            <button type="submit" class="log-in-button">
              <div class="text-wrapper-3">Ввійти в акаунт</div>
            </button>

       </form>

      <!-- Кнопка "Створити акаунт" -->
      <a href="/accounts/registration" class="create-account">
        <div class="text-wrapper-4">Створити акаунт</div>
      </a>
    </div>
  </div>
</body>

</html>