{% extends '../base/base.html' %}
{% load static %}

{% block title %}Логін{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block header %}
<header class="login-header">
  <a href="/" id="back-button" class="back-button">
    <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="Назад" class="button__icon">
  </a>
</header>
{% endblock %}
{% block content %}
<div class="login-page">
  <div class="div">
    <div class="log-in-text">Логін</div>

    <form method="post" action="{%url " login"%}">

      {%csrf_token%}

      <!-- Поле для імені користувача -->
      <div class="email-textbox">
        <input name="username" type="text" class="input-field" placeholder="Ім’я користувача">
      </div>

      <!-- Поле для пароля -->
      <div class="password-textbox">
        <input name="password" type="password" class="input-field" placeholder="Пароль" />
      </div>

      <!-- Посилання "Забули пароль?" -->
      <div class="forgot-password">
        <a href="#" class="text-wrapper-2">Забули пароль?</a>
      </div>
      <!-- Кнопка "Ввійти в акаунт" -->
      <button type="submit" class="log-in-button">
        <div class="text-wrapper-3">Ввійти в акаунт</div>
      </button>

    </form>

    <!-- Кнопка "Створити акаунт" -->
    <a href="/accounts/registration" class="create-account">
      <div class="text-wrapper-4">Створити акаунт</div>
    </a>
  </div>
</div>
{% endblock %}