/* Game Container */
.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Rating (праворуч зверху) */
.rating {
  background-color: rgba(27, 36, 50, 0.5); /* Напівпрозорий чорний */
  margin: 1.25rem 1.25rem 0 0;
  padding: 0 10px 0 10px;
  color: #ffffff; /* Білий текст */
  text-align: center;
  margin-bottom: 20px; /* Відступ від ігрового поля */
  z-index: 1;
}

.rating-title {
  font-size: 1rem;
}

.rating-content {
  font-size: 1rem;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Game Field */
.game-field {
  width: 70%;
  margin: 0 0.25rem;
  background-color: rgba(32, 52, 43, 1); /* Темніший зелений для ігрового поля */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Top Player (поза основним полем) */
.top-player {
  display: flex;
  justify-content: center;
  margin-top: -11.5rem;

}

.main-game-area {
  width: 100%;
}

.left-player, .right-player {
  display: flex;
  align-items: center;
  margin: 1.25rem;
}

.left-player {
  margin-right: auto; /* Лівий гравець зліва */
}

.right-player {
  margin-left: auto; /* Правий гравець справа */
}

.top-player .player-card, .left-player .player-card, .right-player .player-card {
  width: 7rem;
  height: 10rem;
  background-color: rgba(245, 241, 227, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 1);
}

/* Center Area (Vertical Sections) */
.center-area {
  display: flex;
  justify-content: space-between;
}

.deck {
  margin: 1rem 0;
}

.thrown-cards {
  margin: 1rem 14% 0 0;
}

.center-area .vertical-section {
  width: 8rem;
  height: 12rem;
  background-color: rgba(245, 241, 227, 1);
}

/* Horizontal Row */
.horizontal-row {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.5rem;
  width: 100%;
  margin: 0 7rem;
}

.horizontal-row .rectangle {
  width: 8rem;
  height: 12rem;
  background-color: rgba(245, 241, 227, 1);
  border: 1px solid rgba(124, 137, 156, 1);
}

/* Адаптивність */
@media (max-width: 768px) {
  .top-player .player-card,
  .left-player .player-card,
  .right-player .player-card {
    width: 4rem;
    height: 6rem;
    font-size: 2rem;
  }

  .left-player, .right-player {
    margin: 0 auto;
  }

  .top-player {
    margin-top: 0.25rem;
  }

  .game-field {
    max-width: 50%;
  }

  .center-area .vertical-section, .horizontal-row .rectangle  {
    width: 5rem;
    height: 7rem;
  }

  .rating-title, .rating-content {
    font-size: 0.75rem;
  }
  
}

@media (max-width: 480px) {
  .top-player .player-card,
  .left-player .player-card,
  .right-player .player-card {
    width: 3.25rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .left-player, .right-player {
    margin: 0 auto;
  }

  .top-player {
    margin-top: 0;
  }

  .game-field {
    max-width: 45%;
  }

  .rating-title, .rating-content {
    font-size: 0.75rem;
  }

  .center-area .vertical-section, .horizontal-row .rectangle  {
    width: 4rem;
    height: 5.5rem;
  }
}