{% extends 'base/base.html' %}
{% load static %}

{% block title %}Bridge online{% endblock %}

{% block content %}

<body class="index-body">
  <header class="header-profile">
    <div class="header__profile">
      <a href="{%url 'profile'%}" id="profile-button" class="button button--icon">
        <img src="{%static 'assets/icons/profile.svg'%}" alt="Профіль" class="button__icon" />
      </a>
    </div>
  </header>
  <h1>Bridge online</h1>
  <main class="main">
    <div class="main__buttons">
      <a href="{%url 'lobbys'%}" class="main__button">Грати</a>
      <a href="rules.html" class="main__button">Правила гри</a>
      <a href="leaderboard.html" class="main__button">Таблиця лідерів</a>
      <a href="shop.html" class="main__button">Магазин</a>
    </div>
  </main>
</body>
{% endblock %}