<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="styleguide.css">
  <link rel="stylesheet" href="leaderboard.css">
  <title>Таблиця лідерів</title>
</head>
<body>
  <header class="header">
    <button id="back-button" class="back-button">
      <img src="assets/icons/arrow-left.svg" alt="Назад" class="button__icon">
    </button>
  </header>
  <div class="leaderboard-page">
    <div class="div">

      <!-- Основна таблиця лідерів -->
      <div class="leaderboard-frame">
        <!-- Заголовок таблиці -->
        <div class="leaderboard-header">
          <h1 class="leaderboard-title">Таблиця лідерів</h1>
        </div>

        <!-- Тіло таблиці -->
        <div class="leaderboard-content">
          <div class="leaderboard-row">
            <div class="row-first">1</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-second">2</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">3</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">4</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">5</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">6</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">7</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">8</div>
            <div class="row-space"></div>
          </div>
          <div class="leaderboard-row">
            <div class="row-number">9</div>
            <div class="row-space"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
