{% extends 'base/base.html' %}
{% load static %}

{% block title %}Таблиця лідерів{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/leaderboard.css' %}">
{% endblock %}

{% block content %}
<header class="header-guest">
  <button id="back-button" class="back-button" onclick="window.history.back()">
    <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="Назад" class="button__icon">
  </button>
  <div class="header__profile">
    <button id="profile-button" class="button button--icon">
      <img src="{% static 'assets/icons/profile.svg' %}" alt="Профіль" class="button__icon">
    </button>
  </div>
</header>

<div class="leaderboard-page">
  <div class="div">
    <div class="leaderboard-frame">
      <div class="leaderboard-header">
        <h1 class="leaderboard-title">Таблиця лідерів</h1>
      </div>

      <div class="leaderboard-content">
        {% for i in "123456789" %}
        <div class="leaderboard-row">
          <div
            class="{% if forloop.first %}row-first{% elif forloop.counter == 2 %}row-second{% else %}row-number{% endif %}">
            {{ forloop.counter }}
          </div>
          <div class="row-space"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}