{% extends 'base/base.html' %}
{% load static %}

{% block title %}Правила гри{% endblock %}

{% block content %}
<header class="header-guest" id="header-rules">
    <button id="back-button" class="back-button" onclick="window.history.back()">
        <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="Назад" class="button__icon">
    </button>
    <div class="header__profile">
        <button id="profile-button" class="button button--icon">
            <img src="{% static 'assets/icons/profile.svg' %}" alt="Профіль" class="button__icon">
        </button>
    </div>
</header>

<main>
    <div class="rules">
        <h2 class="rules__title">Правила гри "Брідж"</h2>
        <p class="rules__description">Ця версія "Бріджу" має спрощені правила та нагадує популярну гру "Уно". Головна
            мета - якомога швидше позбутися всіх своїх карт.</p>

        <h3 class="rules__subtitle">Мета гри:</h3>
        <p>Першим скинути всі свої карти. Гравець, який залишиться з картами, програє.</p>

        <h3 class="rules__subtitle">Початок гри:</h3>
        <ul>
            <li>Ведучий роздає кожному гравцеві по 5 карт.</li>
            <li>Ведучий роздає собі 4 карти, а 5-ту кладе на стіл обличчям догори, починаючи гру.</li>
        </ul>

        <h3 class="rules__subtitle">Хід гри:</h3>
        <ul>
            <li>Гравці ходять по черзі за годинниковою стрілкою.</li>
            <li>Щоб походити, гравець повинен накрити верхню карту на столі своєю картою, яка має:
                <ul>
                    <li>Таке ж значення (наприклад, валет на валета).</li>
                    <li>Таку ж масть (наприклад, бубна на бубну).</li>
                    <li>Винятки:
                        <ul>
                            <li><b>Валет:</b> Може бути поставлений на будь-яку карту, на яку дозволено хід.</li>
                            <li><b>Після "9":</b> Гравець може поставити будь-яку карту зі своєї руки.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Гравець може скинути одразу декілька однакових карт (наприклад, три десятки або чотири королі).</li>
            <li>Якщо гравець не має чим походити:
                <ul>
                    <li>Він бере одну карту з колоди.</li>
                    <li>Якщо після цього він все одно не може походити, він пропускає свій хід.</li>
                </ul>
            </li>
        </ul>

        <h3 class="rules__subtitle">Значення карт та їх особливості:</h3>
        <ul>
            <li><b>"10", "Дама", "Король":</b> Не мають додаткових функцій. При підрахунку балів дають по 10 балів
                кожна.</li>
            <li><b>"6":</b> Гравець повинен накрити її картою такої ж масті, іншою "шісткою" або "валетом". Гравець бере
                карти з колоди доки не знайде потрібну карту. Не має балів.</li>
            <li><b>"7":</b> Наступний гравець бере 1 карту з колоди та пропускає свій хід. Або гравець може поставити ще
                одну "сімку", тоді наступний гравець бере 2 карти та пропускає хід. Не має балів.</li>
            <li><b>"8":</b> Наступний гравець бере 2 карти з колоди та продовжує свій хід. Або гравець може поставити ще
                одну "вісімку", тоді наступний гравець бере 4 карти. Не має балів.</li>
            <li><b>"9":</b> Гравець, який поставив "дев'ятку", повинен накрити її будь-якою іншою картою зі своєї руки.
                Не має балів.</li>
            <li><b>"Валет":</b> Може бути поставлений на будь-яку карту (крім випадку, коли гравець повинен брати карту
                після "7" або "8"). Гравець, який кинув валета, обирає масть, якою повинен ходити наступний гравець. Має
                25 балів. Якщо гравець закінчує гру "валетом", його бали анулюються.</li>
            <li><b>"Туз":</b> Наступний гравець пропускає свій хід. Якщо скинуто одразу декілька тузів, відповідна
                кількість наступних гравців пропускають хід. Має 15 балів.</li>
        </ul>

        <h3 class="rules__subtitle">Завершення гри та підрахунок балів:</h3>
        <ul>
            <li>Коли в грі залишається лише один гравець з картами, він програє.</li>
            <li>Бали гравця, який програв раунд, підраховуються на основі карт, що залишилися в нього на руках.</li>
            <li>Перемагає той гравець, який першим набере 100 або більше балів за підсумками декількох раундів.</li>
        </ul>
    </div>
</main>
{% endblock %}
