{% extends 'base/base.html' %}
{% load static %}

{% block title %}Магазин{% endblock %}

{% block content %}
<header class="header-guest">
    <button id="back-button" class="back-button" onclick="window.history.back()">
        <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="Назад" class="button__icon">
    </button>
    <div class="header__profile">
        <button id="profile-button" class="button button--icon">
            <img src="{% static 'assets/icons/profile.svg' %}" alt="Профіль" class="button__icon">
        </button>
    </div>
</header>
    <main class="main">
        <div class="shop">
            <div class="shop__item">
                <img src="assets/images/king-heart.svg" alt="Вигляд карт 1" class="shop__item-image">
                <h2 class="shop__item-title">Карта №1</h2>
                <p class="shop__item-price">100 грн</p>
                <button class="button shop__item-buy">Купити</button>
            </div>
            <div class="shop__item">
                <img src="assets/images/queen-diamond.svg" alt="Вигляд карт 2" class="shop__item-image">
                <h2 class="shop__item-title">Карта №1</h2>
                <p class="shop__item-price">150 грн</p>
                <button class="button shop__item-buy">Купити</button>
            </div>
            </div>
    </main>
{% endblock %}
