<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Грати як гість</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="header-guest">
    <button id="back-button" class="back-button">
        <img src="assets/icons/arrow-left.svg" alt="Назад" class="button__icon">
    </button>
    <div class="header__profile">
        <button id="profile-button" class="button button--icon">
            <img src="assets/icons/profile.svg" alt="Профіль" class="button__icon">
        </button>
</header>
    <main class="main">
        <h2 class="header__title">Зіграй як гість</h2>
    </div>
        <div class="guest">
            <p>Ви граєте як гість. Ваш прогрес не буде збережено.</p>
            <button id="play-guest-button" class="button">Почати гру</button>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>
