{% extends 'base/base.html' %}
{% load static %}

{% block title %}Грати як гість{% endblock %}

{% block content %}
<header class="header-guest">
  <button id="back-button" class="back-button" onclick="window.history.back()">
    <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="Назад" class="button__icon">
  </button>
  <div class="header__profile">
    <button id="profile-button" class="button button--icon">
      <img src="{% static 'assets/icons/profile.svg' %}" alt="Профіль" class="button__icon">
    </button>
  </div>
</header>

<main class="main" style="margin-top: 65px; text-align: center;">
  <h2 class="header__title">Зіграй як гість</h2>
  <div class="guest">
    <p>Ви граєте як гість. Ваш прогрес не буде збережено.</p>
    <button id="play-guest">Почати гру</button>
  </div>
</main>
{% endblock %}

