:root {
  --primary-1: rgba(46, 74, 61, 1);
  --48pt-h1-heading-1-font-weight: 400;
  --16pt-p-paragraph-font-family: "Press Start 2P", Helvetica;
  --16pt-p-paragraph-font-weight: 400;
  --16pt-p-paragraph-font-size: 16px;
  --16pt-p-paragraph-letter-spacing: 0px;
  --16pt-p-paragraph-line-height: normal;
}
