{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <link rel="stylesheet" href="{% static 'styles/styleguide.css' %}">
  {% block head %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

  <script src="{% static 'scripts/script.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>