*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

/* Game Container */
.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Rating (праворуч зверху) */
.rating {
  background-color: rgba(27, 36, 50, 0.5); /* Напівпрозорий чорний */
  margin: 1.25rem 1.5rem 0 0;
  padding: 0 10px 0 10px;
  color: #ffffff; /* Білий текст */
  text-align: center;
  margin-bottom: 20px; /* Відступ від ігрового поля */
  z-index: 1;
}

.rating-title {
  font-size: 1rem;
}

.rating-content {
  font-size: 0.9rem;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Game Field */
.game-field {
  width: 70%;
  margin: 0 0.25rem;
  background-color: rgba(32, 52, 43, 1); /* Темніший зелений для ігрового поля */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Top Player (поза основним полем) */
.top-player {
  display: flex;
  justify-content: center;
  margin-top: -11.5rem;
}

.main-game-area {
  width: 100%;
}

.left-player, .right-player {
  display: flex;
  align-items: center;
  margin: 1.25rem;
}

.left-player {
  margin-right: auto; /* Лівий гравець зліва */
}

.right-player {
  margin-left: auto; /* Правий гравець справа */
}

.top-player .player-card, .left-player .player-card, .right-player .player-card {
  --width: clamp(5.2em, 12.6vw, 8em);
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: rgba(245, 241, 227, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 4.8rem 3.7rem;
}
/* 
#heap {
  margin-left: 0rem;
} */

#heap_card {
 margin-left: -4.7rem;
}

/* Center Area (Vertical Sections) */
.center-area {
  display: flex;
  justify-content: space-between;
}

.deck {
  margin: 1rem 1rem 0 0;
  border: solid black 0.5rem;
}

.thrown-cards {
  margin: 1rem 14% 0 0;
}

.center-area .vertical-section {
  width: 7rem;
  height: 10rem;
  background-color: rgba(245, 241, 227, 1);
}

/* Horizontal Row */
.horizontal-row {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.5rem;
  width: 100%;
  margin: 0 7rem;
}

#player_cards .card {
  margin-left: -1.6rem ;
}

.horizontal-row .rectangle {
  width: 8rem;
  height: 12rem;
  background-color: rgba(245, 241, 227, 1);
  border: 1px solid rgba(124, 137, 156, 1);
}

.card {
  --width: clamp(5.2em, 10.5vw, 6em);
  --height: calc(var(--width) * 1.5);
  width: var(--width);
  height: var(--height);
  background-color: rgba(245, 241, 227, 1);
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1.2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  align-items: center;
  font-size: clamp(0.84rem, 1.8vw, 1.2rem);
}

.suit-popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 0.8rem 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-size: 0.7rem;
}

.suit-popup p {
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.suit-popup button {
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.6rem;
}

.history-button {
  position: fixed;
  bottom: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  /* Плавний перехід для зникнення */
}

.history-button.left {
  left: 4px;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.7rem;
}

.game-history {
  position: fixed;
  max-width: 40%;
  left: 4px;
  bottom: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: left;
  display: none;
  /* Приховано за замовчуванням */
}

.game-history p {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.card {
  --width: clamp(5.2em, 10.5vw, 6em);
  --height: calc(var(--width) * 1.5);
  width: var(--width);
  height: var(--height);
  background-color: rgba(245, 241, 227, 1);
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1.2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  align-items: center;
  font-size: clamp(0.84rem, 1.8vw, 1.2rem);
}

#player_cards .card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  background-color: rgba(245, 241, 227, 1);
}

.corner-number::after {
  width: 0.9em;
  /* +20% */
  height: 0.9em;
  /* +20% */
}

#player_cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: rgb(226, 222, 205);
}

[data-suit="heart"].card,
[data-suit="diamond"].card {
  color: red;
}

[data-suit="spade"].card,
[data-suit="club"].card {
  color: black;
}

.pip {
  grid-row-end: span 2;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

[data-suit="heart"] .pip {
  background-image: url("assets/images/heart.svg");
}

[data-suit="diamond"] .pip {
  background-image: url("assets/images/diamond.svg");
}

[data-suit="spade"] .pip {
  background-image: url("assets/images/spade.svg");
}

[data-suit="club"] .pip {
  background-image: url("assets/images/club.svg");
}

.corner-number {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.1em;
  font-size: 1.1em;
}

.corner-number.top {
  top: 0.1em;
  left: 0.1em;
}

.corner-number.bottom {
  bottom: 0.1em;
  right: 0.1em;
  transform: rotate(180deg);
}

.corner-number::after {
  line-height: 0;
  display: block;
  width: 0.75em;
  height: 0.75em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-suit="heart"] .corner-number::after {
  background-image: url("assets/images/heart.svg");
  content: "";
}

[data-suit="spade"] .corner-number::after {
  background-image: url("assets/images/spade.svg");
  content: "";
}

[data-suit="club"] .corner-number::after {
  background-image: url("assets/images/club.svg");
  content: "";
}

[data-suit="diamond"] .corner-number::after {
  background-image: url("assets/images/diamond.svg");
  content: "";
}

/* Решта стилів для розміщення піпів залишаються незмінними */
[data-value="A"] .pip,
[data-value="J"] .pip,
[data-value="Q"] .pip,
[data-value="K"] .pip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: span 6;
  grid-column-end: span 3;
}

[data-value="2"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value="2"] .pip:nth-child(2) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="3"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(2) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="4"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="4"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="4"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="4"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="5"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="5"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="5"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="5"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="5"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="6"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="6"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="6"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="6"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="7"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="7"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="7"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="8"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="8"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="8"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="8"] .pip:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="10"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(9) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="10"] .pip:nth-child(10) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

#player_cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(212, 14, 14, 0.2);
  z-index: 10;
}

@media (min-width: 1200px) {

  .top-player .player-card,
  .left-player .player-card,
  .right-player .player-card {
    --width: 8rem;
  }

  #heap_card {
 margin-left: -5.5rem;
}

  
}

/* Адаптивність */
@media (max-width: 768px) {

  .top-player .player-card,
  .left-player .player-card,
  .right-player .player-card {
    --width: 5rem;
    padding: 0.96em;
    border: 1px solid black;
    font-size: 0.6rem;
    border-radius: 0.3em;
    padding: 1.2em;
  }

  .center-area .vertical-section {
    width: 4.8rem;
    height: 7rem;
  }


  #heap_card {
 margin-left: -3.5rem;
}

  .left-player,
  .right-player {
    margin: 0 auto;
  }

  .top-player {
    margin-top: 0.25rem;
  }

  .game-field {
    max-width: 65%;
  }

  .horizontal-row .rectangle {
    width: 5rem;
    height: 7rem;
    padding: 0.25rem;
  }

  .rating-title,
  .rating-content {
    font-size: 0.7rem;
  }

  .deck button {
    font-size: 0.6rem;
  }

  .deck {
    border: solid black 0.2rem;
  }

  .game-history {
    position: fixed;
    max-width: 50%;
  }

  .game-history p {
    margin: 0.2rem 0;
    font-size: 0.6rem;
  }

  .history-button.left {
    font-size: 0.6rem;
    padding: 3px 4px;
    margin-left: 2px;
  }
}

@media (max-width: 480px) {

  .top-player .player-card,
  .left-player .player-card,
  .right-player .player-card {
    width: 3.65rem;
    height: 5.3rem;
    font-size: 0.4rem;
  }

  .card {
    width: 3.65rem;
    height: 5.3rem;
  }


  #heap_card {
 margin-left: -2.5rem;
}

  .left-player,
  .right-player {
    margin: 0 auto;
  }

  .top-player {
    margin-top: 0;
  }

  .game-field {
    max-width: 65%;
  }

  .rating-title,
  .rating-content {
    font-size: 0.55rem;
  }

  .center-area .vertical-section,
  .horizontal-row .rectangle {
    width: 4rem;
    height: 5.5rem;
  }

  .deck button {
    font-size: 0.45rem;
  }
  .deck {
    margin-left: -1rem;
    margin-right: 0.4rem;
  }

  .game-history p {
    margin: 0.2rem 0;
    font-size: 0.5rem;
  }

  .history-button.left {
    font-size: 0.5rem;
    padding: 2px 3px;
  }
}
