.profile-page {
  background-color: #2e4a3d; /* Темно-зелений фон */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: "Press Start 2P", cursive; /* Піксельний шрифт */
  color: #f5f1e3; /* Світлий текст */
}

.profile-page .div {
  background-color: var(--primary-1);
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

/* Кнопка "Налаштування" */
.profile-page .settings-button {
  width: 30%;
  min-width: 30%;
  height: 10%;
  padding: 20px 30px;
  background-color: #7B1937;
  color: #F5F1E3;
  border: none;
  border-radius: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;
  cursor: pointer;
}

.profile-page .settings-button:hover {
  background-color: #a52a4a; /* Темніший відтінок для hover */
}

.account-wrapper {
  display: flex;
}
/* Аватар */
.profile-page .profile-picture {
  width: 250px;
  height: 250px;
  background-color: #f5f1e3; /* Бежевий */
  border-radius: 50%;
  margin: auto auto;
}

/* Інформація про користувача */
.profile-page .user-info {
  margin: auto auto;
}

.profile-page .username {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.profile-page .account-age {
  font-size: 1rem;
}

.bottom-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: end;
  margin: 4rem 10px;
}
/* Статистика */
.profile-page .stats {
  margin-bottom: 20px;
  width: 100%;
  max-width: 70%;
}

.profile-page .stats-title {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.profile-page .stat-item {
  display: flex;
}

.profile-page .stat-label {
  font-size: 1.2rem;
  display: flex;
}

.profile-page .stat-value {
  font-size: 1.2rem;
  margin-left: 3rem;
}

/* Скін */
.profile-page .skin {
  width: 100%;
  max-width: 40%;
  text-align: center;
}

.profile-page .skin-select {
  height: 100%;
  max-height: 100%;
  max-width: 40%;
  background-color: #F5F1E3;
  margin: 0 auto;
}

.profile-page .skin-label {
  font-size: 2rem;
  padding: 10px 0;
  background-color: #ada06d;
  color: #000;
  max-width: 40%;
  min-width: 30%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
    .profile-page .account-age {
    margin-left: 2.5rem;
    font-size: 0.9rem;
  }
  .profile-page .settings-button {
  width: 40%;
  min-width: 40%;
  height: 10%;
  padding: 20px 5px;
}
}
/* Адаптивність */
@media (max-width: 768px) {
  .profile-page .username {
    font-size: 1rem;
  }

  .profile-page .profile-picture {
  width: 200px;
  height: 120px;
  background-color: #f5f1e3; /* Бежевий */
  border-radius: 50%;
  margin: auto auto;
}

  .profile-page .account-age {
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .profile-page .stats-title {
    font-size: 1rem;
  }

  .profile-page .stat-label {
    font-size: 0.8rem;
  }

  .profile-page .stat-value {
    font-size: 0.8rem;
  }

  .profile-page .skin-select {
    height: 200px;
  }

  .profile-page .settings-button {
    font-size: 0.8rem;
  }

  .profile-page .settings-button {
    margin-top: 0.5rem;
  width: 40%;
  min-width: 40%;
  height: 10%;
  padding: 15px 4px;
}

.profile-page .skin-label {
  font-size: 1.1rem;
  padding: 5px 0;
}

.profile-page .skin-select, .profile-page .skin-label {
  max-width: 60%;
}

.profile-page .div {
  margin-top: -3rem;
}
}

@media (max-width: 480px) {

    .profile-page .username {
    font-size: 0.9rem;
    margin-left: 0rem;
  }

  .profile-page .profile-picture {
  width: 100px;
  height: 80px;
  background-color: #f5f1e3; /* Бежевий */
  border-radius: 50%;
}

  .profile-page .account-age {
    margin-left: 0.8rem;
    font-size: 0.7rem;
  }

  .profile-page .stats-title {
    font-size: 0.9rem;
  }

  .profile-page .stat-label {
    font-size: 0.7rem;
  }

  .profile-page .stat-value {
    font-size: 0.8rem;
  }

  .profile-page .skin-select {
    height: 150px;
  }

  .profile-page .div {
  margin-top: -6rem;
}

  .profile-page .settings-button {
  margin-left: 0.5rem;
  width: 49%;
  min-width: 49%;
  height: 7%;
  padding: 13px 3px;
  font-size: 0.8rem;
} 
}
