body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #2E4A3D;
}

.index-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #F5F1E3;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.header-profile {
  display: flex;
  justify-content: end;
}

.header-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-size: 2em;
}

.header__profile {
  display: flex;
  align-items: center;
  width: 86px;
  height: 86px;
}

.header__profile button {
  border-radius: 50px;
  margin: 15px;
  background-color: #F5F1E3;
}

.header__profile button:hover {
  background-color: #e3ddc5;
}

.main {
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3em;
}

.main__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__button {
  text-align: center;
  padding: 15px 10px;
  margin: 15px 0;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 30px;
  background-color: #7B1937;
  text-decoration: none;
  color: inherit;
  min-width: 324px;
}

.main__button:first-child {
  font-size: 3em;
  min-width: 424px;
}

.main__button:nth-child(2) {
  font-size: 1.75em;
  min-width: 424px;
}

.main__button:hover {
  background-color: #640f29;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #ebe5cf;;
}

.button__icon {
  border: none;
  height: 30px;
}

.button--icon {
  padding: 10px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}

.login-header {
  display: flex;
  justify-content: start;
}

.back-button {
  height: 62px;
  width: 62px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

#play-guest {
  width: 30%;
  min-width: 20%;
  height: 10%;
  padding: 20px 10px;
  background-color: #7B1937;
  color: #F5F1E3;
  border: none;
  border-radius: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;
  cursor: pointer;
}

.shop__item-buy {
  width: 60%;
  min-width: 60%;
  height: 30%;
  padding: 20px 10px;
  background-color: #7B1937;
  color: #F5F1E3;
  border: none;
  border-radius: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  cursor: pointer;
}

#play-guest:hover, .shop__item-buy {
  background-color: #911b3a;
}

.header__profile button, .back-button {
  border-radius: 50px;
  margin: 15px;
  background-color: #F5F1E3;
}

.header__profile button:hover, .back-button:hover {
  background-color: #e3ddc5;
}

/* Стилі для сторінки shop.html */
.shop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shop__item {
  width: 350px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.shop__item-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.shop__item-title {
  margin-top: 10px;
}

.shop__item-price {
  margin-bottom: 10px;
}

.guest button, .shop__item button {
  text-align: center;
  padding: 15px 20px;
  margin: 15px 0;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #7B1937;
  color: #F5F1E3;
  border: none;
}

/* Стилі для сторінки leaderboard.html */
.leaderboard__table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard__table th,
.leaderboard__table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Стилі для сторінки profile.html */
.profile {
  width: 400px;
  margin: 0 auto;
}

.profile__skins-list {
  display: flex;
  justify-content: space-around;
}

.profile__skin-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

/* Стилі для сторінки rules.html */
.rules {
  width: 800px;
  margin: 0 auto;
  color: #e3ddc5;
}

.rules ul,
.rules ol {
  margin-left: 20px;
}

.highlighted-button {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  .back-button {
    height: 50px;
    width: 50px;
  }
}