{% extends '../base/base.html' %}
{% load static %}

{% block title %}Профіль{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block header %}

<header class="header">
  <a href="/" id="back-button" class="back-button">
    <img src="../../../static/assets/icons/arrow-left.svg" alt="Назад" class="button__icon">
  </a>
</header>
{% endblock %}

{% block content %}
<div class="profile-page">
  <div class="div">


    <!-- Аватар -->
    <div class="account-wrapper">
      <div class="profile-picture"></div>

      <!-- Інформація про користувача -->
      <div class="user-info">
        <h1 class="username">{{username}}</h1>
        <br>
        <p class="account-age">Вік аккаунту: {{date_joined}}.</p>
      </div>
      <button class="settings-button">Налаштування</button>

    </div>
    <div class="bottom-wrapper">
      <!-- Статистика -->
      <div class="stats">
        <h2 class="stats-title">СТАТИСТИКА</h2>
        <div class="stat-item">
          <p class="stat-label">Кількість перемог</p>
          <p class="stat-value">{{wins_num}}</p>
        </div>
        <div class="stat-item">
          <p class="stat-label">Кількість загальних очків</p>
          <p class="stat-value">{{games_num}}</p>
        </div>
      </div>

      <!-- Скін -->
      <div class="skin">
        <div class="skin-select"></div>
        <p class="skin-label">Скін</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
